<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:amazon="http://schemas.amazon.com/apk/res/android" xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- JB4A SDK permissions for Amazon Device Messaging -->
    <permission android:name="com.exacttarget.jb4a.sdkexplorer.permission.RECEIVE_ADM_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.exacttarget.jb4a.sdkexplorer.permission.RECEIVE_ADM_MESSAGE"/>
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE"/>
    <!-- END JB4A SDK permissions for Amazon Device Messaging -->

    <application>
        <!-- Required to send notifications to Kindle devices.  Required=false ensures Google Devices will ignore. -->
        <amazon:enable-feature android:name="com.amazon.device.messaging" android:required="false"/>

        <!-- ET Broadcast Receiver for handling Amazon/ADM push messages. ADM requires it's own definition for this receiver.  You cannot combine this definition with the definition for Google/GCM. You can use the ET_GenericReceiver directly, or extend it to customize notifications -->
        <receiver android:name="com.exacttarget.jb4a.sdkexplorer.SDK_ExplorerNotificationReceiver" android:permission="com.amazon.device.messaging.permission.SEND">
            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.RECEIVE"/>
                <action android:name="com.amazon.device.messaging.intent.REGISTRATION"/>

                <category android:name="com.exacttarget.jb4a.sdkexplorer"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>