<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- JB4A SDK Google Permissions -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- JB4A SDK Google Permissions -->

    <!-- JB4A SDK Permissions for location and region monitoring -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- END JB4A SDK location and region monitoring Permissions -->

    <application>
        <!-- ETPushReceiver and Service -->
        <receiver
            android:name="com.exacttarget.etpushsdk.ETPushReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="${applicationId}.MESSAGE_OPENED" />

                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.exacttarget.etpushsdk.ETPushService"
            android:enabled="true" />
        <!-- ETPushReceiver and Service -->
        <!-- ETLocationReceiver and Service -->
        <receiver android:name="com.exacttarget.etpushsdk.ETLocationReceiver" />

        <service
            android:name="com.exacttarget.etpushsdk.ETLocationService"
            android:enabled="true" />
        <!-- ETLocationReceiver and Service -->

    </application>

</manifest>