<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1000117" android:versionName="1.0.0-RELEASE" package="com.exacttarget.practicefield">

   	<!-- Android version. Your project can support any versions.  But minimum is version 10 and maximum is 19. -->
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>
	<!-- Android version. -->
	   
    <!-- ExactTarget required permissions -->
    <permission android:name="com.exacttarget.practicefield.permission.C2D_MESSAGE" android:protectionLevel="signature"/> <!-- CHANGE ME - Creates localized permission to receive -->
    <uses-permission android:name="com.exacttarget.practicefield.permission.C2D_MESSAGE"/> <!-- CHANGE ME to match your package name - Localized permission to receive messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/> <!-- Base permission to receive GCM messages. -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/> <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- END ExactTarget Required Permissions -->
    
    <!-- ExactTarget Permissions for location and region monitoring -->
 	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<!-- END ExactTarget location and region monitoring Permissions -->

    <!-- ExactTarget DEMO Only for testing purposes -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>  // to simulate locations for Geo Fence testing
    <uses-permission android:name="android.permission.VIBRATE"/> // to vibrate device when notification received
    <uses-permission android:name="android.permission.READ_LOGS"/>  // to create Logcat file
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> // to create logCat file
    <!-- END ExactTarget DEMO Only for testing purposes -->

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:logo="@drawable/ic_logo" android:name="com.exacttarget.practicefield.PracticeFieldApp" android:theme="@style/AppTheme">

        <!-- ET Broadcast Receiver for handling push messages. You can use the ET_GenericReceiver directly, or extend it to customize notifications.
             In this PracticeField app, we have extended it to provide custom notifications chosen by the app user.  As well as the ability to add vibration to the alert.
         -->
        <receiver android:name="com.exacttarget.practicefield.PracticeFieldNotificationReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.exacttarget.practicefield"/>
            </intent-filter>
        </receiver>
        <!-- ET Broadcast Receiver -->
       
		<!-- ET Broadcast Receivers for handling location updates -->
		<receiver android:exported="false" android:name="com.exacttarget.etpushsdk.location.receiver.LocationChangedReceiver"/>
		<receiver android:exported="false" android:name="com.exacttarget.etpushsdk.location.receiver.PassiveLocationChangedReceiver"/>
		<receiver android:exported="false" android:name="com.exacttarget.etpushsdk.location.receiver.PowerStateChangedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_BATTERY_LOW"/>
				<action android:name="android.intent.action.ACTION_BATTERY_OKAY"/>
			</intent-filter>
		</receiver>
		
		<receiver android:exported="false" android:name="com.exacttarget.etpushsdk.ETLocationTimeoutReceiver"/>
		<receiver android:exported="false" android:name="com.exacttarget.etpushsdk.ETLocationWakeupReceiver"/>
        <receiver android:name="com.exacttarget.etpushsdk.ETLocationProviderChangeReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
		<receiver android:exported="false" android:name="com.exacttarget.etpushsdk.ETGeofenceReceiver"/>
				
		<receiver android:exported="false" android:name="com.exacttarget.etpushsdk.location.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>  
		<!-- ET Broadcast Receivers for handling location updates -->

		<!-- ET Broadcast Receivers for for sending data (required) -->
		<receiver android:exported="false" android:name="com.exacttarget.etpushsdk.ETSendDataReceiver"/>
 		<!-- ET Broadcast Receivers for for sending data (required) -->
       
		<!-- ET Service handlers for handling location updates -->
		<service android:enabled="true" android:name="com.exacttarget.etpushsdk.ETLocationTimeoutService"/>
		<service android:enabled="true" android:name="com.exacttarget.etpushsdk.ETLocationWakeupService"/>
        <service android:enabled="true" android:name="com.exacttarget.etpushsdk.ETLocationProviderChangeService"/>
		<service android:enabled="true" android:name="com.exacttarget.etpushsdk.ETGeofenceIntentService"/>
		<!-- ET Service handlers for handling location updates -->

        <!-- ET Service handlers for sending data (required) -->
		<service android:enabled="true" android:name="com.exacttarget.etpushsdk.ETSendDataIntentService"/>
        <!-- ET Service handlers for sending data (required) -->

        <!-- ET Activity required for Cloud Page or Open Direct URLs sent from Marketing Cloud -->
        <activity android:label="Landing Page" android:name="com.exacttarget.etpushsdk.ETLandingPagePresenter"/>
        <!-- ET Activity required for Cloud Page or Open Direct URLs sent from Marketing Cloud -->

        <!-- ET Demo Activities -->
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize" android:name="com.exacttarget.practicefield.PracticeFieldHomeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize" android:name="com.exacttarget.practicefield.PracticeFieldSendMessageActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize" android:name="com.exacttarget.practicefield.PracticeFieldLastMessageActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize" android:name="com.exacttarget.practicefield.PracticeFieldOpenDirectActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize" android:name="com.exacttarget.practicefield.PracticeFieldDiscountActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize" android:name="com.exacttarget.practicefield.PracticeFieldInfoActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize" android:name="com.exacttarget.practicefield.PracticeFieldSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize" android:name="com.exacttarget.practicefield.PracticeFieldDebugSettingsActivity" android:screenOrientation="portrait"/>
        <!-- ET Demo Activities -->

        <!-- Google Play Services version.  Using the resource file will require your project contain the Google Play services project. -->
        <!-- See Google documentation for more information -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <!-- Google Play Services version. -->
        
    </application>

</manifest>