body {
	background-color: #FFFFFF;	
	color: #414141;
}

a {
	color: #414141;
}

a:visited {
	color: #E98300;
}

.NavBarCell1 {
	background-color: #E98300;
}

.NavBarCell1 a:visited {
	color: #414141;
}

.TableHeadingColor {
	background-color: #E98300;
}

.TableSubHeadingColor {
	background-color: #E98300;
}