<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="3.0.0" package="com.exacttarget.demo.etsdkdemo">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="18"/>

    <!-- ExactTarget required permissions -->
    <permission android:name="com.exacttarget.demo.etsdkdemo.permission.C2D_MESSAGE" android:protectionLevel="signature"/> <!-- CHANGE ME - Creates localized permission to receive -->
    <uses-permission android:name="com.exacttarget.demo.etsdkdemo.permission.C2D_MESSAGE"/> <!-- CHANGE ME to match your package name - Localized permission to receive messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/> <!-- Base permission to receive GCM messages. -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/> <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- END ExactTarget Required Permissions -->

    <application android:allowBackup="true" android:debuggable="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.exacttarget.demo.etsdkdemo.PushEnabledApplication" android:theme="@style/AppTheme">

        <!-- ET Broadcast Receiver for handling push messages. You can use the ET_GenericReceiver directly, or extend it to customize notifications -->
        <receiver android:name="com.exacttarget.etpushsdk.ET_GenericReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.exacttarget.demo.etsdkdemo"/>
            </intent-filter>
        </receiver>
        
        <!-- ET Service handlers (required) -->
		<service android:enabled="true" android:name="com.exacttarget.etpushsdk.ETSendDataIntentService"/>
		
		<!-- ET Demo Activities -->
        <activity android:label="@string/title_activity_home" android:name="com.exacttarget.demo.etsdkdemo.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_second" android:name="com.exacttarget.demo.etsdkdemo.SecondActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.exacttarget.etpushsdk.AnalyticActivity"/>
        </activity>
        <activity android:label="@string/title_activity_open_direct_demo" android:name="com.exacttarget.demo.etsdkdemo.OpenDirectDemo">
        </activity>
        <activity android:label="Landing Page" android:name="com.exacttarget.etpushsdk.ETLandingPagePresenter">
        </activity>
    </application>

</manifest>