<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exacttarget.jb4a.sdkexplorer">

    <!-- JB4A SDK Permissions for Geofence and Beacon monitoring -->
    <!-- The following 2 permissions are not required if you are not using Geofences or Beacons within your application -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- END JB4A SDK location and region monitoring Permissions -->

    <!-- Salesforce Marketing Cloud JB4A SDK Explorer Only for testing purposes -->
    <!-- These are SDK Explorer permissions only and are not required by the JB4A SDK -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- END Salesforce Marketing Cloud JB4A SDK Explorer Only for testing purposes -->

    <application
        android:name=".SDK_ExplorerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:theme="@style/AppTheme">

        <!-- JB4A SDK Explorer Activities -->
        <activity
            android:name=".SDK_ExplorerHomeActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SDK_ExplorerSendMessageActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerLocationsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerDisplayMessageActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerWebContentActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerCloudPageActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerCloudPageInboxActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerDiscountActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerInfoActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerDebugSettingsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerEulaActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerSettingsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerViewSimilarActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerViewFavoritesActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SDK_ExplorerViewReviewsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="portrait" />
        <!-- JB4A SDK Explorer Activities -->

    </application>

</manifest>